*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction:column;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);  
    align-items: center; 
}

.header div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 10vh;
    height: 70px;
    margin-left: 5%;
}

.logo img{
    width: 100%;
    height: 100%;
}
.search{
    width: 23%;
    height: 31px;
    margin-left:4%;
    background: #D9D9D9;
    padding-left:36px;
    border: none;
}
.menu_items{
    width: 8%;
    height: 20px;
    margin-left: 3%;
}


.menu_items a{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration:none;
}

.menu_items:hover a{
    text-decoration: underline;
    color: red;
    padding-bottom: 3px;
}

.login{
    width: 13%;
    height: 100px;
    margin-left:5%;
    padding-left: 3%;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}



.second{
    width: 100%;
    height: 609px;
    background: linear-gradient(180deg, #E7F7FF 0%, #FFFFFF 100%);
    display: flex;
    /* border: 1px solid red; */
    
}


.second_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.second_left .question{
    width: 100%;
    /* width: 100%; */
    height: 120px;
    /* margin-left: 51px; */
    margin-top: 96px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;

    color: #111827;
}


.question span{
    color:rgba(0, 101, 224, 1);
}

.question .green{
    display: inline-block;
    /* width: 197px; */
    width: 30%;
    height: 28px;

    background: rgba(0, 255, 25, 0.22);
    border-radius: 10px;
    margin-top: 20px;
    /* margin-left: 20px; */
    margin-left: 2.5%;
}

.info{
    width: 100%;
    height: 20px;
    display: inline-block;
    /* margin-left: 51px; */
    margin-top:5px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #6B7280;
}


.input2_relative{
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 22px;
    position: relative;

}
.input2{
    width: 80%;
    height: 44px;
    /* margin-left: 51px; */
    /* padding-left: 42px; */
    padding-left: 7%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border:none;
}

.second_left .first_img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 44.6%;
    left: 4.44%;
    position: absolute;
    transform: translate(-10px,-7px);

}

.input3_relative{
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 11px;
    position: relative;
}

.input3{
    padding-bottom: 68px;
    width: 80%;
    height: 111px;
    padding-left: 7%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border:none;
}

.second_left .second_img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 51%;
    left: 4.44%;
    position: absolute;
    transform: translate(-10px,-45px);
    /* border: 1px solid red; */


}

.second_left button{
    width: 80%;
    height: 50px;
    background: #0065E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 17px;
    /* margin-left: 51px; */
    border: none;
    color: white;

}



.second_right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dcimg{
    width: 70%;
    height: 404px;
}


.third{
    width: 100%;
    /* height: 1194px; */
    display: flex;
    flex-direction: column;
    background-color:#F3F4F6;
    padding-left: 5%;
    padding-right: 5%;

}

.subjects{
    margin-top: 56px;
    /* margin-left: 51px; */
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #000000;
}


.sectors_1{
    margin-top: 24px;
    /* height: 120px; */
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid green; */
    gap: 1%;
}
.sectors_1 div:last-of-type{
    /* width: 10%; */
    width: 160px;
    height: 41px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 16px; */
}

.sectors_1 div:first-of-type{
    /* width: 10%; */
    width: 160px;
    height: 41px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 16px; */
}

.sectors_1 div{
    width: 150px;
    /* width: 8%; */
    height: 41px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 16px; */
    margin-bottom: 14px ;
}


.last_quest{
    width: 100%;
    height: 30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #000000;
    /* margin-left: 51px; */
    margin-top:51px;
    margin-bottom: 23px;
}


.comments{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.comment_1{
    display: flex;
    gap: 5%;
}

.content{
    width: 50%;
    height: 115px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
    padding-left: 3.33%;
    padding-right: 3.33%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.content_4{
    width: 100%;
    display: flex;
    gap:30px;
    margin-top: 15px; 
}

.content_4 div{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    /* identical to box height */


    color: #BDBDBD;
}
.content_1{
    width: 100%;
    height: 13px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    /* identical to box height */
    color: #A2A2A2;
    margin-top: 9px;

}

.content_2{
    width: 100%;
    height: 20px;


    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
    margin-top: 13px;
}

.content_3{
    width: 100%;
    height: 15px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #000000;
    margin-top: 3px;
}

.doctors{
    width: 100%;
    height: 30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #000000;
    /* margin-left: 51px; */
    margin-top: 72px;
}

.profil{
    display: flex;
    gap: 0.8%;
    /* margin-left:51px; */
    margin-top: 23px;
    /* border: 1px solid red; */
    margin-bottom: 100px;
}

.profil_1{
    width: 16%;
    height: 213px;
    background: #FFFFFF;
    border-radius: 10px;  
    display: flex;
    flex-direction: column;  
}

.circle_parent{
    display: flex;
    justify-content: center;
}




.circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #D9D9D9;
    /* margin-left: 56px; */
    /* margin-left: 30%; */
    margin-top: 12px;
}

.name{
    width: 100%;
    height: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* margin-left: 36px; */
    margin-top: 20px;
    display: flex;
    justify-content: center;

    color: #000000;
}


.job{
    width: 100%;
    height: 15px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #7D7D7D;
    /* margin-left: 72px; */
    margin-top: 3px;

    display: flex;
    justify-content: center;
}

.additional{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    /* margin-left: 3px; */
    padding-left:1%;
    padding-right: 1%;
}

.additional div{
    /* width: 50%; */
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    /* identical to box height */


    color: #BDBDBD;
}

.footer{
    width: 100%;
    height: 246px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer div{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;

    color: #000000;

}



@media only screen and (max-width: 1083px) {
    .profil_1:last-of-type{
        display: none;
    }

    .profil_1{
        width: 20%;
    }
    
  
}

@media only screen and (max-width: 1007px) {
    .second_left .question{
        width: 100%;
        /* width: 100%; */
        height: 120px;
        /* margin-left: 51px; */
        margin-top: 96px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 60px;
    
        color: #111827;
        display: flex;
        align-items: center;
    }

    .question .green{
        display: none;
    }
    
  
}


@media only screen and (max-width: 940px) {
    .header input{
        display: none;
    }

    .header{
        display: flex;
        justify-content: space-between;
    }

    .login{
        width: 18%;
    }
    .header .menu_items{
        display: none;
    }

    .second_right{
        display: none;
    }
    .second_left{
        width: 100%;
        display: flex;
        justify-content: center;
        /* padding-right: 5%; */
        padding-left: 20%;
        padding-right: 10%;
    }  
}

@media only screen and (max-width: 892px) {
    
    .profil_1:first-of-type{
        display: none;
    }
    .profil_1{
        width: 25%;
    }

    .comment_1{
        display: flex;
        flex-direction: column;
    
    }
    .content{
        width: 100%;
    }


  
}


@media only screen and (max-width: 708px) {
    
    .profil_1:nth-of-type(2){
        display: none;
    }
    .profil_1:nth-of-type(3){
        display: none;
    }
    .profil_1{
        width: 50%;
    }

    .second_left .question{
        display: inline-block;
    }


    .login{
        width: auto;
    }
}

@media only screen and (max-width: 390px) {
    
    .second_left .question{
        width: 100%;
        /* width: 100%; */
        height: 120px;
        /* margin-left: 51px; */
        margin-top: 20px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 60px;

    
        color: #111827;
        display: flex;
        align-items: center;
    }
}









